*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: aqua;
}
#box3{
    height: 300px;
    width: 300px;
    background-color: greenyellow;
}
body{
    background-color: #111;
}