body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #008a8a;
    background-color: #add8e6;
}

/* Useful websites */
/* Coolors */
/* Contras checker */